@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: 'Montserrat', sans-serif;  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.btn-custom {
  background-image: linear-gradient(
    to right,
    #ff00cc 0%,
    #333399 51%,
    #ff00cc 100%
  );
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  transition: 1s;
  border: 0px;
  background-size: 200% auto;
  color: white;
  display: block;
}

.btn-custom:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.text-gradient {
  background: linear-gradient(to right, #ff23d3 0%, #8c8cff 51%, #ff23d3 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

video {
  width: 100%;
  border-radius: 5px;
}

.video-btn-outlined {
  padding: 7px 20px;
  margin-left: 20px;
  border-color: #8c8cff;
  color: #8c8cff;
}

.video-btn-outlined:hover {
  background-color: #8c8cff;
  border-color: #8c8cff;
  color: black;
}

.video-btn {
  padding: 7px 20px;
  margin-left: 20px;
  background-color: #8c8cff;
  border-color: #8c8cff;
  color: black;
}

.video-btn:hover {
  padding: 7px 20px;
  margin-left: 20px;
  background-color: #6e6eff;
  border-color: #6e6eff;
  color: black;
}
